@import '../../assets/variable.scss';

label {
   display: block;
   margin-bottom: 0.375em;
   color: $colorActive
}

input,
select {
   display: block;
   width: 100%;
   height: calc(1.5em + 0.9rem + 2px);
   padding: 0.45rem 0.95rem;
   font-size: 1rem;
   line-height: 1.5;
   color: darken($colorDisable, 17.25%);
   background-color: $bgColorWhite;
   background-clip: padding-box;
   border: 1px solid lighten($colorDisable, 27.5%);
   border-radius: 5px;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   box-sizing: border-box;
   &.is--invalid {
      border-color: $colorError;
   }
}
.error-message {
   font-size: 12px;
   color: $colorError;
}
