
// base project colors
$colorWhite: #fff;
$colorDark: #000;
$colorDisable: #979797;
$colorActive: #101d94;
$colorError:  #ffadad;

// base elements colors
$bgPageColor: #e5e5e5;
$bgColorWhite: $colorWhite;
$shadowColor: #ebf0ff;
$colorBtnPrimary:rgba(25, 165, 39, 0.8);